/config/config_global.php
/config/config_ucenter.php
/data/cache/*
/data/backup*
/data/diy
/data/sysdata
/data/template/*
/data/download/*
/data/install.lock
/data/sendmail.lock
/data/update.lock
/data/log/*
/uc_client/data/cache/*.php
/uc_server/data/config.inc.php
/uc_server/data/install.lock
/uc_server/data/upgrade.lock
/uc_server/data/cache/*.php
/uc_server/data/view/admin_login.php
/uc_server/data/view/footer.php
/uc_server/data/view/header.php
